<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Sign In</h3>
                <div class="d-flex justify-content-end social_icon">
                    <span><i class="fab fa-facebook-square"></i></span>
                    <span><i class="fab fa-google-plus-square"></i></span>
                    <span><i class="fab fa-twitter-square"></i></span>
                </div>
            </div>
            <div class="card-body">
                <form class="form-group" #loginForm="ngForm">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="username" [(ngModel)]="user.username"
                            name="username" required #uname="ngModel">
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" class="form-control" placeholder="password" [(ngModel)]="user.password"
                            name="password" required #pwd="ngModel">
                    </div>
                    <!-- <div class="row align-items-center remember">
                        <input type="checkbox">Remember Me
                    </div> -->
                    <div class="form-group">
                        <button [disabled]="!loginForm.valid" *ngIf="!submitting" (click)="login()"
                            class="btn float-right login_btn">Login</button>
                        <button disabled *ngIf="submitting" class="btn float-right login_btn">Logging in...</button>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    Don't have an account?<a [routerLink]="['/auth/register/']">Sign Up</a>
                </div>
                <div class="d-flex justify-content-center">
                    <a [routerLink]="['/auth/forgot-password/']">Forgot your password?</a>
                </div>
            </div>
        </div>
    </div>
    <!-- </div> -->