<h2>Update Product</h2>
<div *ngIf="!loading">
    <form class="form-group" #productForm="ngForm">
        <label for="name">name</label>
        <input class="form-control" type="text" placeholder="name" name="name" [(ngModel)]="product.name" required
            #name="ngModel">
        <br>
        <label for="category">category</label>
        <input class="form-control" type="text" placeholder="category" name="category" [(ngModel)]="product.category">
        <br>
        <label for="description">description</label>
        <input class="form-control" type="text" placeholder="description" name="description"
            [(ngModel)]="product.description">
        <br>
        <label for="price">price</label>
        <input class="form-control" type="text" placeholder="price" name="price" [(ngModel)]="product.price">
        <br>
        <label for="status">status</label>
        <input class="form-control" type="text" placeholder="status" name="status" [(ngModel)]="product.status">
        <br>
        <label for="tags">tags</label>
        <input class="form-control" type="text" placeholder="tags" name="tags" [(ngModel)]="product.tags">
        <br>
        <div>
            <p>Selected Image</p>
            <img src="{{imgUrl}}{{product.image}}" width="400px">
        </div>
        <button [disabled]="!productForm.valid" class="btn btn-primary" (click)="upload()"
            *ngIf="!submitting">submit</button>
        <button disabled class="btn btn-info" *ngIf="submitting">submiting...</button>
        <input type="file" name="image" (change)="fileChanged($event)">
    </form>
</div>