<p>register works!</p>
<div class="container">
    <div class="panel panel-default">
        <h2>{{title}} to Eco Sharing System </h2>
        <span>Please register to access account</span>
        <div class="panel-body">
            <div class="col-md-6">
                <form class="form-group " #registerForm="ngForm">
                    <label for="email">Email </label>
                    <input class="form-control" type="email" placeholder="Email Here" [(ngModel)]="user.email"
                        name="email">
                    <label for="username">Username</label>
                    <input class="form-control" type="text" placeholder="Username Here" [(ngModel)]="user.username"
                        name="username">
                    <label for="password">Password</label>
                    <input class="form-control" type="password" placeholder="Password Here" [(ngModel)]="user.password"
                        name="password">
                </form>
            </div>
            <button [disabled]="registerForm.invalid" class="btn btn-outline-success"
                (click)="submit()">Register</button>
            <br>
            <span>Back to <a routerLink="/auth/login">Login</a></span>
        </div>
    </div>
</div>