<!-- <h3 class="pb-3 mb-4 font-italic border-bottom">
    Places avaibaes
</h3> -->
<div>
    <!-- <div class="sidenav" *ngIf="this.products===0">
        <p>helkjoi</p>
    </div> -->

</div><br>
<div class="row">
    <div class="col-md-4" *ngFor="let prod of products;let i = index">
        <div class="card mb-3">
            <img class="card-img-top" src="{{imgUrl}}{{prod.image}}" alt="Card image cap">
            <div class="card-body">
                <!-- <p class="card-text"> {{prod.status}}</p> -->
                <h6 class="btn btn-outline-dark btn-sm"> NRS: {{prod.price }}</h6>&nbsp;&nbsp;&nbsp;&nbsp;
                <h6 class="btn btn-outline-dark btn-sm"> {{prod.status | titlecase }}</h6>&nbsp;&nbsp;&nbsp;&nbsp;
                <!-- <a class="btn btn-outline-success btn-sm" [routerLink]="['/booking/book']"> Book Now!!! </a> -->
                <!-- <h6 class="btn btn-outline-dark btn-sm" (click)="book(prod._id)">Book Now</h6> -->
                <h6 class="btn btn-outline-dark btn-sm" [routerLink]="['/booking/book/'+prod._id]">Book Now</h6>


                <h6> {{prod.tags }}</h6>
                <p class="card-text"> {{prod.description | titlecase}}</p>
                <button *ngIf="authService.isLoggedIn()" class="btn btn-outline-dark btn-sm"
                    (click)="edit(prod._id)">Edit
                </button> &nbsp;
                <button *ngIf="authService.isLoggedIn()" class="btn btn-danger float-right"
                    (click)="remove(prod._id,i)">Delete</button>
                <div class="ftr">
                    <div class="stats"> <i class="far fa-clock"></i>
                        Updated At: {{this.ago(prod.updatedAt).startOf('hour').fromNow()}}
                    </div>&nbsp;&nbsp;
                </div>
            </div>
            <!-- <div class="ftr">
                <div class="stats"> <i class="far fa-clock"></i>
                    Updated At: {{this.ago(prod.updatedAt).startOf('hour').fromNow()}}
                </div>&nbsp;&nbsp;
            </div> -->
        </div>
    </div>
</div>
<!-- </div> -->
<!-- <app-child [childMessage]="parentMessage"></app-child> -->
<!-- <app-book-room [childMessage]="parentMessage">
</app-book-room> -->