<h1>rooms added</h1>
<!-- <div class="container"> -->
<div>
    <div class="row">
        <div class="col-md-3" *ngFor="let prod of products;let i = index">
            <div class="blog-card blog-card-blog">
                <div class="blog-card-image">
                    <a [routerLink]="['/booking/book']">
                        <img class="img" src="{{imgUrl}}{{prod.image}}"> </a>
                    <div class="ripple-cont"></div>
                </div>
                <div class="blog-table">
                    <!-- <h6 class="blog-category blog-text-success"><i class="far fa-newspaper"></i> News</h6> -->
                    <!-- <h4 class="blog-card-caption">
                        <a href="#">Lorem Ipsum is simply dummy text of the printing and</a>
                    </h4> -->
                    <p class="blog-card-description">{{prod.description | titlecase}}</p>
                    <p>key words {{prod.tags}}</p>
                    <p class="btn btn-outline-success btn-sm"> {{prod.status | titlecase}} </p>&nbsp;
                    <!-- &nbsp;&nbsp;&nbsp; -->
                    <!-- &nbsp;&nbsp; -->
                    <!-- &nbsp;&nbsp;&nbsp; -->
                    <a class="btn btn-outline-success btn-sm" [routerLink]="['/booking/book']"> Book Now!!! </a>
                    <h5 class="btn btn-outline-success btn-sm float-right"> (NRS). {{prod.price}} </h5>
                    <div class="ftr">
                        <!-- <div class="author">
                            <a href="#"> <img src="{{imgUrl}}{{prod.image}}" alt="..." class="avatar img-raised"> -->
                        <!-- <span>{{prod.status}}</span>  -->
                        <!-- </a>
                        </div> -->
                        <div class="stats"> <i class="far fa-clock"></i> {{prod.updatedAt | date}} </div>
                    </div>
                </div>
            </div>
        </div>
    </div>