<p>add-product works!</p>
<div class="row">
    <div class="col-6">
        <form class="form-group" #productForm="ngForm">
            <h2>Add My Place</h2>
            <br>
            <label for="name">Name</label>
            <input class="form-control" type="text" placeholder="Name" name="name" [(ngModel)]="product.name" required
                #name="ngModel">
            <br>
            <label for="category">For</label>
            <input class="form-control" type="text" placeholder="Individual,Couple ,Family ,Group" name="category"
                [(ngModel)]="product.category">
            <br>
            <label for="description">Description</label>
            <input class="form-control" type="text" placeholder="Description" name="description"
                [(ngModel)]="product.description">
            <br>
            <label for="price">Price</label>
            <input class="form-control" type="number" onkeypress='validateNumber(event)' placeholder="price"
                name="price" [(ngModel)]="product.price">
            <br>
            <label for="tags">Keywords</label>
            <input class="form-control" type="text" placeholder="Keywords" name="tags" [(ngModel)]="product.tags">
            <br>
            <label for="image">Choose Image</label>&nbsp;&nbsp;&nbsp;
            <input class="input-group-prepend" type="file" (change)="fileChanged($event)" name="image"
                [(ngModel)]="product.image">
            <button [disabled]="!productForm.valid" class="btn btn-primary right" (click)="upload()"
                *ngIf="!submitting">save</button>
            <button disabled class="btn btn-info" *ngIf="submitting">saving... </button>
        </form>
    </div>
    <br>
    <div>
        <img class="card" alt="Responsive image" [src]="imgURL" height="320" width="500" *ngIf="imgURL">
        <img *ngIf="imagePreview" [src]="sanitizer.bypassSecurityTrustUrl(imagePreview)">
    </div>
</div>