<!-- <div class="sidenav" *ngIf="authService.isLoggedIn()">
  <a [routerLink]="['/user/dashboard']">Home</a>
  <a [routerLink]="['/product/add']">Add Product</a>
  <a [routerLink]="['/product/list']">View Products</a>
  <button class="btn btn-success" (click)="logout()">logout</button>
</div>
<div class="main container">
  <router-outlet>
  </router-outlet>
</div> -->

<nav *ngIf="isLoggedIn()" class="navbar navbar-dark fixed-top bg-custom flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0">{{title}}</a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="btn btn-danger" (click)="logout()">Log out</a>
    </li>

  </ul>
</nav>
<div class="container-fluid">
  <div class="row">
    <nav *ngIf="isLoggedIn()" class="col-md-2 d-none d-md-block bg-custom sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/user/dashboard']">
              <span data-feather="home"></span>
              Dashboard <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/product/list']">
              <span data-feather="shopping-cart"></span>
              View Products
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/product/add']">
              <span data-feather="users"></span>
              Add Product
            </a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" [routerLink]="['/product/search']">
              <span data-feather="bar-chart-2"></span>
              Search Product
            </a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/user/change-password']">
              <span data-feather="layers"></span>
              Change Password
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/user/profile']">
              <span data-feather="layers"></span>
              Profile
            </a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" [routerLink]="['/user/chat']">
              <span data-feather="layers"></span>
              let's chat
            </a>
          </li> -->
          <li>
            <a class="nav-link" [routerLink]="['/booking/list']">
              <span data-feather="layers"></span>
              Booking list
            </a>

          </li>
        </ul>
      </div>
    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="container">
        <!-- <div> -->
        <router-outlet>
        </router-outlet>
      </div>
    </main>
  </div>
</div>