<div class="card">
    <!-- <h5 class="card-header">Booking</h5> -->
    <h5 class="card-header">{{room[0].type |titlecase}}</h5>

    <div class="card-body">
        <h5 class="card-text">Price {{room[0].price}}</h5>
        <form class="form-group" #BookingForm="ngForm">
            <div class="form-group">
                <label for="firstname">First Name</label>
                <input type="text" class="form-control" id="firstname" name="firstname" placeholder="first name"
                    [(ngModel)]="booking.firstname">
                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                    else.</small> -->
            </div>
            <div class="form-group">
                <label for="lastname">Last Name</label>
                <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last Name"
                    [(ngModel)]="booking.lastname">
            </div>
            <div class="form-group">
                <label for="contactNumber">Contact Number</label>
                <input type="text" class="form-control" id="contactNumber" name="contactNumber" placeholder="98********"
                    [(ngModel)]="booking.contactNumber">
            </div>
            <div class="form-group">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" name="city" placeholder="city"
                    [(ngModel)]="booking.city">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name='email' placeholder="email"
                    [(ngModel)]="booking.email">
            </div>
            <!-- <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div> -->
            <button type="submit" (click)="book()" class="btn btn-primary">Submit</button>
        </form>
        <!-- <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
</div>