<!-- <p>forgot-password works!</p> -->
<h2>Forgot Password</h2>
<p>Please enter your email address here</p>
<br>
<form class="form-group" #forgotPasswordForm="ngForm">
    <input class="form-control" type="text" placeholder="Email here" name="email" [(ngModel)]="user.email" required
        email #email="ngModel">
    <div class="danger" *ngIf="email.errors && email.dirty">
        <div *ngIf="email.errors.email">
            <p>invalid email</p>
        </div>
        <div *ngIf="email.errors.required">
            <p>required field*</p>
        </div>
    </div>
    <br>
    <button class=" btn btn-primary" [disabled]="!forgotPasswordForm.valid" *ngIf="!submitting"
        (click)="submit()">submit</button>
    <button class="btn btn-info" disabled *ngIf="submitting">submitting...</button>
</form>