<!-- <h2>View Products</h2> -->
<!-- <button *ngIf="results" (click)="showSearchMenu()" class="btn btn-success">search again</button> -->
<!-- <div *ngIf="loading">
    <app-loader></app-loader>
</div> -->
<div class="table-responsive-sm">
    <!-- <table *ngIf="!loading" class="table table-bordered"> -->
    <table *ngIf="!loading" class="table">
        <thead>
            <th>S.N</th>
            <th>Name</th>
            <th>Contact Number</th>
            <th>Email</th>
            <th>Address</th>
            <!-- <th>Booking Time</th> -->
            <th>checkIn</th>
            <!-- <th>check out </th> -->
            <th>status</th>
            <th>Action</th>

        </thead>
        <tbody>
            <tr *ngFor="let book of bookings;let i = index">
                <td>{{i +1}}</td>
                <td>{{book.firstname | titlecase}} {{book.lastname | titlecase}}</td>
                <td>{{book.contactNumber}}</td>
                <td>{{book.email}}</td>
                <td>{{book.city}}</td>
                <!-- <td>{{this.ago(book.createdAt).startOf('hour').fromNow()}} </td> -->
                <td>{{book.checkIn}}</td>
                <td *ngIf="book.status"> {{book.status}}</td>
                <td *ngIf="!book.status"> Pending</td>
                <!-- <td *ngIf="!results"> -->
                <!-- <button (click)="remove(book._id,i)" class="btn btn-danger">delete</button> -->
                <!-- </td> -->
                <td>
                    <button (click)=" confirmbooking(book._id,i)" class="btn btn-info btn-sm">confirm </button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button (click)="rejectBooking(book._id)" class="btn btn-danger btn-sm">Reject </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>