<h2>Let's Chat</h2>
<b> <u> {{user.username}}</u></b>
<div class="row">
    <div class="col-md-6">
        Messages
        <div style="border: 1px solid green; height: 400px">
            <div class="container" *ngFor="let msg of messages">
                <b>{{msg.sender}}</b>
                <p>{{msg.msg}}</p>
                <span class="time-right">{{msg.time | date:'hh:mm a'}}</span>
            </div>
        </div>

        <form class="form-group row" (ngSubmit)="sendMsg()">
            <input class="form-control col-md-9" type="text" (focus)="focused(true)" (focusout)="focused(false)"
                placeholder="msg here" name="msg" [(ngModel)]="msgBody.msg">
            <button class="btn btn-primary col-md-3" type="submit">send</button>
            <span *ngIf="isTyping">user is typing</span>
        </form>
    </div>

    <div class="col-md-6">
        Users
        <div style="border: 1px solid green; height: 400px">
            <li *ngFor="let user of users">
                <button (click)="selectUser(user)" class="btn btn-default"> {{user.name}}</button>
            </li>
        </div>
    </div>

</div>