/* You can add global styles to this file, and also import other style files */

/* .container{
height: 100%;
align-content: center;
} */
.selector {
       background-image: url('./assets/images/544750.jpg');

   }

.khim {
       background-image: url('./assets/images/664662.jpg');
       /* background-image: linear-gradient(blue, red); */
       /* background-size: 3.2em; */
        /* background-size: cover; */
       /* background-position: center; */
       background-repeat: no-repeat;
       /* height: 100%; */
       /* background-size: auto; */
       background-size:100% 100%;
       font-family: 'Numans', sans-serif;
   }
